@tailwind base;
@tailwind components;
@tailwind utilities;/* You can add global styles to this file, and also import other style files */

.custom-tooltip {
  font-family: 'Inter', sans-serif;
  max-width: 250px;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.4;
}