<nav class="text-sm text-gray-500 mb-4" *ngIf="breadcrumbs.length > 1">
  <ol class="list-reset flex flex-wrap">
    <li *ngFor="let crumb of breadcrumbs; let last = last">
      <ng-container *ngIf="!crumb.label.startsWith('DASHBOARD:'); else dashboardCrumb">
        <a *ngIf="!last" [routerLink]="crumb.url" class="hover:text-blue-600">{{ crumb.label | translate }}</a>
        <span *ngIf="last" class="text-gray-700">{{ crumb.label | translate }}</span>
      </ng-container>
      <ng-template #dashboardCrumb>
        <ng-container *ngIf="!last; else dashboardLast">
          <a [routerLink]="crumb.url" class="hover:text-blue-600">
            {{ 'DASHBOARD' | translate }}: {{ crumb.label.split(':')[1] }}
          </a>
        </ng-container>
        <ng-template #dashboardLast>
          <span class="text-gray-700">{{ 'DASHBOARD' | translate }}: {{ crumb.label.split(':')[1] }}</span>
        </ng-template>
      </ng-template>
      <span *ngIf="!last" class="mx-2">/</span>
    </li>
  </ol>
</nav>